/* Carousel base class */
.carousel {
  height: 500px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}

.carousel-caption {
  text-align: left;
  top: 0%;
}

.carousel-caption label {
  margin-bottom: 20px;
  font-size: 21px;
  line-height: 1;
}

.quiz-success {
    color: #5cb85c;
}

.quiz-error {
    color: #d9534f;
}
