   <footer>
    <div class="container">

      <div class="row mt10 mb10">
       
        {% if site.copyright.name %}

        <div class="col-md-4 text-center">Site provided by <a target="_blank" href="{{site.copyright.link}}">{{site.copyright.name}}</a>, created by Tutorius</div>
        {% endif %}
        
      <div class="col-md-4 text-center" >
      {% if site.built-by %}
      <a target="_blank" href="https://www.docker.com"><img src="https://img.shields.io/docker/automated/jrottenberg/ffmpeg.svg" alt="{{site.built-by}}"></a>
      {% endif %}
      </div>
      <div class="col-md-4 text-center">
        <a target="_blank" href="{{site.facebook}}"><li class="social facebook"><img src="{{site.baseurl}}/images/facebook.svg" alt="{{site.facebook}}"></li></a> 
          <a target="_blank" href="{{site.twitter}}"><li class="social twitter"><img src="{{site.baseurl}}/images/twitter.svg" alt="{{site.twitter}}"></li></a>      
          <a target="_blank" href="{{site.github}}"><li class="social github"><img src="{{site.baseurl}}/images/github.svg" alt="{{site.github}}"></li></a>
      </div>
    </div>
  </div> 
  
</footer>
