<head>
<title>{{ page.title | default: 'Docker birthday party!' }}</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="{{ page.title | default: 'Docker birthday challenge' }}" />
<meta name="twitter:description" content="{{ page.description | default: 'Docker 7th birthday celebration! Join birthday.play-with-docker.com to earn a special badge' }}" />
<meta name="twitter:image" content="{{site.url}}/images/meta-image.png"/>

  
{% comment %}
{% seo %}
{% endcomment %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />

<style>
          {% capture include_to_scssify %}
          {% include main.scss %}
          {% endcapture %}
          {{ include_to_scssify | scssify }}
</style>  

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">

<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">  
<link rel="stylesheet" href="{{site.baseurl}}/css/quiz.css">
</head>
