<head>
<title>{{ page.title | default: 'Play with Docker Classroom' }}</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="{{ page.title | default: 'Play With Docker Classroom' }}" />
<meta name="twitter:description" content="{{ page.description | default: 'Learn docker through online trainings in training.play-with-docker.com' }}" />
<meta name="twitter:image" content="{{ page.img | default: 'https://training.play-with-docker.com/images/simple-logo.png' }}" />

  
{% comment %}
{% seo %}
{% endcomment %}

<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />

<style>
          {% capture include_to_scssify %}
          {% include main.scss %}
          {% endcapture %}
          {{ include_to_scssify | scssify }}
</style>  

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">  
<link rel="stylesheet" href="{{site.baseurl}}/css/quiz.css">
</head>
