<div class="col-md-offset-1 col-md-3">
    <div class="post-img">
        
    </div>
    
    <div class="mt10 recent">
        Learn more &rarr;
        <ul>
            <li>
                <a href="https://www.docker.com/dockercon/" target="_blank"><img src="{{site.baseulr}}/images/dockercon.png"></a>
                <p>Want to learn more? Join our community events <a href="https://events.docker.com/" target="_blank"></a></p>
            </li>
            <li>
                <img src="/images/instructor.svg" alt="Official Docker Instructor Led Courses"/>
                <p>Want to take an in-depth, official Docker training course? Check out <a href="https://success.docker.com/training/" alt="Docker training">training.docker.com</a></p>
            </li>
            <li>
                {% if page.img %}
                <img width="200" src="{{site.baseurl}}/images/{{page.img}}" alt="{{page.title}}">
                {% else %}
                <img width="200" src="{{site.baseurl}}/images/{{site.default-image}}" alt="Docker">
                {% endif %} <p>Join the docker community on Slack! Connect with your peers, share ideas and ask questions - <a href="https://dockr.ly/slack">Register here</a></p>
            </li>
        </ul>
    </div>
    
</div>
