<div class="col-md-offset-1 col-md-3">
    <div class="post-img">
        
    </div>
    
    <div class="mt10 recent">
        Learn more &rarr;
        <ul>
            <li>
                <a href="https://www.docker.com/dockercon/" target="_blank"><img src="https://www.docker.com/sites/default/files/d8/styles/500px_6_4_ratio/public/2020-03/Compacted-light%20bkgr.png?itok=Y5Z2Iw79"></a>
                <p>Join the Docker Community at DockerCon LIVE on May 28th. It's virtual, free, and packed with learning! <a href="https://www.docker.com/dockercon/" target="_blank">Sign up today</a></p>
            </li>
    
            <li>
                {% if page.img %}
                <img width="200" src="https://www.docker.com/sites/default/files/d8/styles/role_icon/public/2020-01/Moby%20Group.jpeg?itok=kmD1NvVU">
                {% else %}
                <img width="200" src="https://www.docker.com/sites/default/files/d8/styles/role_icon/public/2020-01/Moby%20Group.jpeg?itok=kmD1NvVU" alt="Docker">
                {% endif %} <p>Join the docker community on Slack! Connect with your peers, share ideas and ask questions - <a href="https://dockr.ly/slack">Register here</a></p>
            </li>
        </ul>
    </div>
    
</div>
