.feedback-footer-item{
    position: fixed;
    bottom: 16px;
    left:16px;
    right: 16px;
    padding: 12px;
    color:white;
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 6px 10px 0 rgba(0, 0, 0, 0.14);
    border-radius: 4px;
}

.feedback-footer-item-neutral{
    background-color:  var(--feedbak-footer);
}

.feedback-footer-item-negative{
    background-color:  var(--wrong-color);
}

.feedback-footer-item-positive{
    background-color:  var(--right-color);
}


.feedback-footer-item:not([selected]){
    display: none;
}

.feedback-footer-item-label{
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    margin-left: 8px;
    letter-spacing: 0.3px;
}