.feedback-modal-content {
  .dark-mode & {
    background-color: var(--disabled-bgcolor);
  }
}

.feedback-title {
  font-family: Geomanist;
  font-size: 24px;
  color: var(--titles-color);
}
.feedback-text,
.feedback-modal-footer-text,
.feedback-textarea {
  font-family: "Open Sans";
  line-height: 1.5;
  letter-spacing: 0.15px;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  color: var(--font-color);
}

.feedback-text {
  margin-bottom: 24px;
}

.close-button,
.send-button {
  font-family: "Open Sans";
  font-size: 13.7px;
  font-weight: 600;
}

.send-button {
}

.feedback-textarea {
  border: solid 1px rgba(0, 0, 0, 0.32);
}

.feedback-modal-footer {
  background-color: #f5f5f5;
  padding: 32px;
  .dark-mode & {
    background-color: rgba(0, 0, 0, 0.2);
  }
}

.feedback-modal-footer-title {
  font-family: Geomanist;
  font-size: 20px;
  color: var(--titles-color);
}
