$docker-color: #1488C6;

html, body {
    height: 100%;
}

img {
    max-width: 100%;
}

.mt50 {
    margin-top: 50px;
}
.mt20 {
    margin-top: 20px;
}

.mt10 {
    margin-top: 10px;
}

.mb10 {
    margin-bottom: 10px;
}

body {
    display: flex;
    flex-direction: column;
}

body > * {
    flex: none;
}

.navbar {
    border-radius: 0px;
    margin-bottom: 0px;

    &.navbar-inverse {
        background-color: $docker-color;
        border-color: $docker-color;

        a, .navbar-nav li a {
            color: white;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.navbar-brand {
    font-weight: 900;
    @media screen and (max-width: $on-palm) {
        font-size: 1.5em;
    }
}
.post-meta {
    color: $grey-color;
}
div.post-content {
    max-width:1200px
}
.panel {
    border:none;
    box-shadow: 0px 0px 1px $grey-color;
}

.panel:hover {
    box-shadow: 0px 0px 6px $grey-color;
}


footer {
    border-top: 1px solid $grey-color-light;
}
.social-share {
    margin-top: 30px;
    margin-bottom: 15px;
    padding: 5px;
    text-align: center;
    border-top: 1px solid $grey-color-light;
}
.social {
    list-style: none;
    display: inline;
    margin-left: 10px;
    padding: 5px 8px;
    }
.social:hover {
     opacity: 0.7;
}
.social img {
    width: 20px;
}

.quora img{
    width: 17px;
}

.facebook img {
    width: 16px;
}

.recent ul {
    list-style: none;
    padding: 0;
    text-align: justify;

}

.recent li {
    margin: 20px;
}

.recent img {
    display: block;
    margin: auto;
}

.recent {
    padding: 10px;
    border: 1px solid $grey-color-light;
}

.post-img img {
    width: 100%;
}

.announce {
    margin-top:10px;
    margin-bottom:60px;
    text-align: center;

}


.pack {
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
}

.banner {
    display: block;
    margin: auto;
}

.panel-container {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    height: 100%;
    flex: 1 1 auto;

    /* avoid browser level touch actions */
    xtouch-action: none;
}

.terminal {
    font-size: 15px;
}


.panel-left {
    flex: 0 0 auto;
    /* only manually resize */
    width: 50%;
    min-width: 150px;
}

.content {
    padding: 0 15px;
    overflow-y: auto;
}

.content {
    padding: 0 15px;
}
.panel-singular {
    margin:0 auto;
    max-width: 1200;
}

.splitter {
    flex: 0 0 auto;
    width: 18px;
    background: url(https://raw.githubusercontent.com/RickStrahl/jquery-resizable/master/assets/vsizegrip.png) center center no-repeat #2fa8c3;
    min-height: 200px;
    cursor: col-resize;
}

.panel-right {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    /* resizable */
    width: 100%;
    background: #565656;

    > div {
        flex: 1 1 auto;
        margin-bottom: 15px;
        overflow-y: auto;

        &:last-of-type {
            margin-bottom: 0px;
        }

        &.initialized {
            background-color: black;
        }
    }
}
.getting-started {
    ul {
        list-style-type: none;
        font-size: 36px
    }
    
}

.card {
    float: none;
}

code[class*="."] {
    cursor: pointer;
}

pre:not(.highlight) {
  color: #fff;
  background-color: #000;
}

.resize-warning {
    background-color: black;
    color: white;
    text-align: center;
}
