.progress-bar {
  height: 4px;
  background-color: var(--aqua);
  transition: all 0.2s;
  width: 0px;
  position: relative;

  &[data-progress]:after {
    content: attr(data-progress) "%";
    font-family: "Geomanist";
    font-size: 14px;
    padding: 5px 8px 3px;
    vertical-align: middle;
    color: var(--navbar-color);
    border-radius: 5px;
    background-color: white;
    position: absolute;
    right: -10px;
    top: 8px;
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 6px 10px 0 rgba(13, 156, 236, 0.14);
  }
}
