.post-tag {
  display: inline-block;
  background: rgba($brand-color, 0.15);
  padding: 0 .5rem;
  margin-right: .5rem;
  border-radius: 4px;
  color: $brand-color;
  font-family: $base-font-family;
  font-size: 90%;
  &:before {
    content: "\f02b";
    font-family: FontAwesome;
    padding-right: .5em;
  }
  &:hover {
    text-decoration: none;
    background: $brand-color;
    color: #fff;
  }
}

small .post-tag {
  background: #eee;
  color: #000;
  &:before {
    content: none;
  }
  &:hover {
    text-decoration: none;
    background: #000;
    color: #fff;
    cursor: default;
  }
}

.tags-expo {
  :target:before {
    content:"";
    display:block;
    height:72px; /* fixed header height*/
    margin:-72px 0 0; /* negative fixed header height */
  }
  .tags-expo-list {
    @media (min-width: 38em) {
      font-size: 2.9rem;
      .post-tag {
        margin: .2em .3em;
      }
    }
  }
  .tags-expo-section {
    ul {
      list-style-type: circle;
      list-style-position: inside;
      padding: 0;
      li {
        padding: 0 1rem;
        &:hover {
          list-style-type: disc;
        }
      }
    }
    a {
      font-size: 20px;
    }
    .post-date {
      display: inline-block;
      font-size: 80%;
      color: #000;
      margin: 0;
      padding: 0;
    }
    font-family: $base-font-family;
  }
}

