<!-- Remove the comments to compress html

---
layout: compress
--- 

-->
<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    {{ content }}

    {% include footer.html %}
    
<script async>
    (function() {
        var font = document.createElement('link'); 
        font.type = 'text/css'; 
        font.rel = 'stylesheet';
        font.href = '//fonts.googleapis.com/css?family=Raleway:400,700';
        var s = document.getElementsByTagName('link')[0]; 
        s.parentNode.insertBefore(font, s);
      })();
</script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script src="https://rawgit.com/RickStrahl/jquery-resizable/master/dist/jquery-resizable.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.js"></script>
  <script src="{{site.baseurl}}/js/xterm.js"></script>
  <script src="{{site.baseurl}}/js/fit.js"></script>
  <script src="{{site.baseurl}}/js/sdk.js"></script>
  <script src="{{site.baseurl}}/js/bootstrap.min.js"></script>
  <script>
      pwd.newSession([{selector: '.term1'}, {selector: '.term2'}], {baseUrl: 'http://localhost'});
      $(".panel-left").resizable({
          handleSelector: ".splitter",
          resizeHeight: false,
          onDragEnd: pwd.resize.bind(pwd)
      });
  </script>
 {% if site.analytics %}{% include analytics.html %}{% endif %}
  </body>

</html>
